@import url('https://fonts.googleapis.com/css2?family=Inter&family=Satisfy&display=swap');
:root
{
    --morado0: #35155D;
    --morado1: #623D8F;
    --morado2: #9B66EC;
    --morado3: #B492F3;
    --morado4: #CDBAF8;
    --morado5: #E2D9FB;
    --morado6: #F0EAFD;
}
.form-config h2
{
    margin: 2.5% 0% 2.5% 0%;
    font-size: 50px;
    text-align: center;
}
#profile-picture {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 1px solid #ccc;
    display: flex;
    margin: 0 auto;
  }
  
  .form-config form {
    min-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .form-config form a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    text-decoration: none;
  }
  
  .form-config form a img {
    padding: 8px;
    color: #fff;
    background-color: var(--morado1);
    border-radius: 3px;
  }
  
  .form-config form a img {
    color: #fff;
    text-decoration: none;
  }
  
  .form-config form a img:hover {
    background-color: var(--morado2);
  }
  
  .form-config form button {
    min-width: 500px;
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--morado1);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
  
  .form-config form button:hover {
    background-color: var(--morado2);
  }
  
  .form-config form div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .form-config form input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-width: 500px;
  }
  
  .form-config form input:focus {
    outline: none;
  }
  
  .form-config form label {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  
  .form-config form label div textarea {
    min-width: 500px;
    min-height: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
  }
  
  .form-config form label img {
    margin-bottom: 5px;
  }
  
  .change-image {
    position: fixed;
    top: 25%;
    left: 25%;
    background-color: white;
    border-color: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .change-image form a {
    position: absolute;
    top: 0;
    right: 0;
    margin: 15px;
  }
  
  .change-image form a img {
    width: 35px;
    background-color: white;
  }
  
  .change-image form a img:hover {
    background-color: #ccc;
  }
  
  .drop-container {
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    border: 2px dashed #ccc;
    color: #444;
    cursor: pointer;
    transition: background .2s ease-in-out, border .2s ease-in-out;
  }
  
  .drop-container:hover {
    background: #eee;
    border-color: #111;
  }
  
  .drop-container:hover .drop-title {
    color: #222;
  }
  
  .drop-title {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color .2s ease-in-out;
  }
  