:root
{
    --morado0: #35155D;
    --morado1: #8D46E1;
    --morado2: #9B66EC;
    --morado3: #B492F3;
    --morado4: #CDBAF8;
    --morado5: #E2D9FB;
    --morado6: #F0EAFD;
}
.search
{
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
}
/*logo*/
.logo-wheryz
{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
}
.logo-wheryz img
{
    width: 40%;
}
.logo-wheryz #wheryz
{
    font-family: "Satisfy", cursive;
    font-size: 60px;
}

/*Buscador*/
.search-box
{
    width: 70%;
    justify-content: center;
    align-items: center;
}
.search-box form
{
    width: 100%;
    align-items: center;
    justify-content: center;
}
.buscador
{
    width: 92%;
    height: 41px;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--morado1);
    border-radius: 40px;
}
.search-input
{
    width: 90%;
    padding-left: 3%;
    outline: none;
    background: transparent;
    border: none;
    color: var(--morado5);
    font-size: 20px;

}
.buscar
{
    background-color: transparent;
    border: none;
    width: 5%;
    height: 100%;
}


::placeholder
{
    color: var(--morado4);
}
  @media only screen and (max-width: 1050px) {
    .search {
        height: 10%;
    }

    .logo-wheryz img {
        max-width: 80px;
    }

    .logo-wheryz h1 {
        font-size: 30px;
    }

    .search-box {
        height: 30px;
        padding: 0 5px;
    }

    .search-input {
        font-size: 14px;
        width: 70%;
    }
}
  @media only screen and (max-width: 750px) {
    .search {
        height: 60px;
    }

    .logo-wheryz img {
        max-width: 40px;
    }

    .logo-wheryz h1 {
        font-size: 15px;
    }

    .search-box {
        height: 30px;
        padding: 0 5px;
    }

    .search-input {
        font-size: 14px;
        width: 70%;
    }
}



