:root
{
    --morado0: #35155D;
    --morado1: #8D46E1;
    --morado2: #9B66EC;
    --morado3: #B492F3;
    --morado4: #CDBAF8;
    --morado5: #E2D9FB;
    --morado6: #F0EAFD;
}

.search
{
    display: flex;
    align-items: center;
}
.logo-wheryz
{
    width: 30%;
    display: flex;
    align-items: center;
    padding-left: 5%;
    padding-top: 1%;
}
.logo-wheryz img
{
    width: 35%;
}
.logo-wheryz h1
{
    font-family: "Satisfy", cursive;
    font-size: 60px;
}
.search-box
{
    align-items: center;
    width: 70%;
    width: 55%;
    margin: 5%;
    padding: 1% 1%;
    border-radius: 70px;
    background-color: var(--morado2);
}
.search-box input
{
    background: transparent;
    border: none;
    width: 92%;
    color: var(--morado5);
    outline: none;
}
::placeholder
{
    color: var(--morado4);
}
.search-box button
{
    background: transparent;
    border: none;
}
  @media only screen and (max-width: 1050px) {
    .search {
        height: 10%;
    }

    .logo-wheryz img {
        max-width: 80px;
    }

    .logo-wheryz h1 {
        font-size: 30px;
    }

    .search-box {
        height: 30px;
        padding: 0 5px;
    }

    .search-input {
        font-size: 14px;
        width: 70%;
    }
}
  @media only screen and (max-width: 750px) {
    .search {
        height: 60px;
    }

    .logo-wheryz img {
        max-width: 40px;
    }

    .logo-wheryz h1 {
        font-size: 15px;
    }

    .search-box {
        height: 30px;
        padding: 0 5px;
    }

    .search-input {
        font-size: 14px;
        width: 70%;
    }
}



