.result-title
{
    font-size: 30px;
    margin: 2.5% 0% 0% 5%;
}
.result-item
{
    margin: 2% 5%;
    padding-top: 2%;
    border-top: solid 1px #333;
}
.no-results
{
    margin: 2% 5%;
    padding-top: 2%;
}